ZHIPU_API_KEY=
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4
ZHIPU_MODEL=glm-5v-turbo
ZHIPU_TIMEOUT_SECONDS=180
ZHIPU_MAX_RETRIES=2
ZHIPU_MAX_TOKENS=5000
ZHIPU_MAX_IMAGE_MB=20
EMPLOYEE_CERT_REVIEW_CONFIDENCE=0.8
EMPLOYEE_CERT_EXPIRING_DAYS=90
